.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.progressLabel {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-black);
}

.progressBar {
  width: 200px;
  height: 15px;
  border: 1px solid;
}

progress[value]::-webkit-progress-bar {
  background: var(--color-white);
}

progress[value]::-webkit-progress-value {
  background: var(--color-sky-blue);
}

progress[value]::-moz-progress-bar {
  background: var(--color-sky-blue);
}
